/*Fonts*/
@font-face {
    font-family: 'Cuprum';
    src: url("../fonts/cuprum.woff2"),
      url("../fonts/cuprum.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cuprum';
    src: url("../fonts/cuprumbold.woff2"),
      url("../fonts/cuprumbold.woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cuprum';
    src: url("../fonts/cuprumbolditalic.woff2"),
      url("../fonts/cuprumbolditalic.woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Cuprum';
    src: url("../fonts/cuprumitalic.woff2"),
      url("../fonts/cuprumitalic.woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url("../fonts/ptsans.woff2"),
      url("../fonts/ptsans.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url("../fonts/ptsansbold.woff2"),
      url("../fonts/ptsansbold.woff");
    font-weight: 700;
    font-style: normal;
}

/*Variables*/
:root {
    --basic-red: #EE3643;
    --basic-blue : #32425C;
    --special-blue: #293449; 
    --dark-blue: #212A3A;
    --dark-blue-secondary: #1D2739;
    --navy-blue: #161D29; 
    --basic-green: #63A63E;
    --basic-background: #F1F5F7;
    --header-background: #F9F5F0;
    --basic-yellow: #FFBF47;
    --basic-light-blue: #3BBCE3;
    --basic-lilac: #DC91D8;
    --basic-greenlight: #8ED78F;
    --basic-golden: #FFC047;
    --special-yellowlight: #FFD180;
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --light-green: #5FBB2D;
    --darken-green: #518534;
    --accent-red: #CA2C37;
    --darken-red: #BA2732;
    --light-gray:#EAEAEA;
    --light-gray-secondary:#C5C5C5;
    --extra-lightgray:#F7F3EC;
    --basic-gray:#A9A9A9;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.page-body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial,sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

.wrapper>* {
  margin: auto;
  max-width: 940px;
}

/*Header*/
.main-header {
  font-family: 'Cuprum';
}
.submenu-wrapper {
  background-color: var(--special-blue);
}

.submenu {
  height: 42px;
  display: flex;
}

.link {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  margin: auto;
  height: 100%;
}

.link_yellow {
  color: var(--special-yellowlight)
}

.logo {
  display: block;
  height: 100%;
  padding-top: 5px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  width: 220px;
}

.logo:active {
  background-color: var(--darken-red);
}

.logo__pic {
  padding: 7px 56px 12px 56px;
}

.search {
  width: 270px;
  position: relative;
  vertical-align: middle;
}

.search-icon {
  content: url("../img/icons/icon-search.svg");
  position: absolute;
  top: 13px;
  left: 5px;
  z-index: 5;
}

.search-form {
  background-color: inherit;
  width: 270px;
  height: 100%;
  border: none;
  outline: none;
  position: absolute;
  padding-left: 35px;
  z-index: 1;
}

.search-form::placeholder {
  color: var(--basic-white);
}

.search-form:active{
  opacity: 0.5;
}

.search-form:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.search-form:active ~ .search-icon{
  opacity: 0.5;
}

.search-form:hover ~ .search-icon{
  fill: var(--basic-white);
}

.search-form:focus ~ .search-icon{
  fill: var(--basic-red);
}

.bookmarks, .cart {
 box-sizing: border-box;
 padding: 6px;
 width: 140px;
}

.bookmarks:hover, .cart:hover {
  fill: var(--basic-white);
}

.bookmarks:active {
  background-color: var(--navy-blue);
  opacity: 0.5;
}

.bookmarks:before {
  content: url("../img/icons/icon-bookmark.svg");
  padding: 13px;
}

.cart:before {
  content: url("../img/icons/icon-cart.svg");
  padding: 13px;
}

.cart:active {
opacity: 0.5;
}

.login:before {
  content: url("../img/icons/icon-login.svg");
}

.main-header-wrapper {
  background-color: var(--basic-background);
  padding-bottom: 60px;
}

.main-header__content {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.main-header__subtitle {
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  padding: 0 27px;
  width: 200px;
}

.phone {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
}

.phone:before {
  content: url("../img/icons/icon-phone.svg");
}

.main-header__adress {
  font-size: 14px;
} 

.nav {
  height: 60px;
  display: flex;
  justify-content: space-around;
}

.main-header__nav {
  background-color: var(--basic-blue);
  box-shadow: inset 0px -5px 0px var(--special-blue);
}

.nav__item {
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 60px;
}

.nav__item:hover {
  background-color: var(--special-blue);
}

.nav__item:active {
  background-color: var(--dark-blue-secondary);
}

/*Buttons*/
.button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  color: var(--basic-white);
  text-align: center;
  font-family: 'Cuprum';
}

.button_green {
  background-color: var(--basic-green);
  text-transform: none;
  width: 150px;
  font-size: 18px;
  line-height: 24px;
  outline: none;
}

.button_green:hover {
  background-color: var(--light-green);
}

.button_green:active {
  opacity: 0.5;
}

.button_account {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-transform: none;
  background-color: var(--basic-white);
}

.button_account:hover {
  color: var(--basic-red);
}

.button_account:active {
  color: var(--light-gray-secondary);
}

.button_category {
  width: 135px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px 23px;
}

.button_category:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.button_category:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.button_red {
  display: block;
  width: 192px;
  height: 18px;
  background-color: var(--basic-red);
  padding: 10px 0;
}

.button_red:hover {
  background-color: var(--accent-red);
}

.button_red:active {
  background-color: var(--darken-red);
}

.hover-buttons {
  display: none;
  position: relative;
  width: 220px;
  height: 180px;
}

.hover-button_buy {
  width: 135px;
  height: 38px;
  background: var(--basic-green) url("../img/icons/icon-cart.svg") 30px 10px no-repeat;
  position: absolute;
  top: 38px;
  left: 40px;
  border: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  padding-left: 20px;
  color: var(--basic-white);
}

.hover-button_buy:hover {
  background-color: var(--light-green);
}

.hover-button_buy:active {
  background-color: var(--darken-green);
}

.hover-button_bookmarks {
  width: 135px;
  height: 38px;
  position: absolute;
  top: 86px;
  left: 40px;
  border: 3px solid var(--basic-green);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px;
  color: var(--basic-blue);
}

.hover-button_bookmarks:hover {
  border: 3px solid var(--basic-blue);
}

.hover-button_bookmarks:active {
  opacity: 0.5;
}


/*Content*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.category {
 padding: 0;
 font-family: 'Cuprum';
}

.category-layout {
  display: grid;
  gap: 20px;
  grid-template: repeat(3, 123px) / repeat(3, 300px);
}

.category__card {
  display: block;
  color: var(--basic-white);
  padding: 20px 0 0 23px;
}

.category__card .title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top:0;
  text-transform: none;
}

.category__card_yellow {
 background: var(--basic-yellow) url("../img/icons/icon-1.svg") 213px 31px no-repeat;
}

.category__card_blue {
  background: var(--basic-light-blue) url("../img/icons/icon-2.svg") 213px 31px no-repeat;
 }

 .category__card_lilac {
  background: var(--basic-lilac) url("../img/icons/icon-3.svg") 213px 31px no-repeat;
 }

 .category__card_green {
  background: var(--basic-greenlight) url("../img/icons/icon-4.svg") 213px 31px no-repeat;
 }

 .category__card_golden {
  background: var(--basic-golden) url("../img/icons/icon-5.svg") 213px 31px no-repeat;
 }

.slider {
  grid-row: 2/4;
  grid-column: 1/3;
  padding: 0;
}

.slider__item {
  width: 620px;
  height: 266px;
  color: var(--basic-white);
  display: flex;
  flex-direction: column;
  position: relative;
}

.slider__header {
  background-color: rgba(0, 0, 0, 0.25);
  height: 80px;
  padding: 23px 24px 0 24px;
}

.slider__header h2{
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px;
}

.slider__button {
  position: absolute;
  bottom: 27px;
  left: 24px;
}

.slider__item_hammers {
  background: url("../img/slider-hammer.png") no-repeat;
}

.slider__item_drills {
  background: url("../img/slider-drill.png") no-repeat;
  display: none;
}

.inner-header {
  background: var(--header-background);
  position: relative;
  height: 90px;
  align-items: center;
  display: flex;
}

.inner-header__title {
  text-transform: uppercase;
  font-family: "Cuprum";
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  padding-left: 28px;
}

.inner-header .button{
  position: absolute;
  bottom: 26px;
  right: 14px;
}

/*Catalog*/
.catalog {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.product {
  width: 218px;
  height: 318px;
  border: 1px solid var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  font-weight: 700;
}

.product:hover {  
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.product:hover .product__pic {  
  display: none;
}

.product:hover .hover-buttons {  
  display: block;
}

.product__pic {
  width: 220px;
  height: 180px;
}

.product__name {
  font-size: 18px;
  line-height: 20px;
}

.product__prev-price {
  font-size: 17px;
  line-height: 18px;
  color:var(--basic-gray);
  text-decoration: line-through;
  margin-bottom: 15px;
}

.product__button {
  background-color: var(--basic-red);
  padding: 10px 32px;
  border-radius: 3px;
  background-color: var(--basic-red);
  padding: 10px 32px;
  border-radius: 3px 0 0 3px;
  position: relative;
  width: 122px;
  font-family: 'PT Sans';;
  font-weight: inherit;
}

.product__button::after {
  content:"";
  position: absolute;
  border: 19px solid transparent;
  border-left: 19px solid var(--basic-red);
  top: 0;
  right: -38px;
}

/*Brands*/
.brand {
  padding:0;
  display: grid;
  grid-template: 145px 145px / repeat(4, 220px);
  gap: 20px;
}

.brand__item {
  height: 100%;
  border: 1px solid var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand__item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.brand__item:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/*Services*/
.services-wrapper {
  background-color: var(--basic-background);
}

.title {
  font-family: 'Cuprum';
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.services>.services__text {
  width: 394px;
}

.services__container {
  display: flex;
  margin-top: 70px;
}

.services__buttons {
  display: flex;
  flex-direction: column;
  position: relative;
}

.services__buttons::after {
  content:"";
  display: block;
  background: rgba(0, 0, 0, 0.0001);
  mix-blend-mode: normal;
  opacity: 0.25;
  position: absolute;
  right: 0px;
  top: -49px;
  height: 279px;
  width: 10px;
  z-index: 5;
}

.services__button {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  text-transform: none;
  text-align: left;
  padding-left: 23px;
  height: 61px;
  width: 240px;
  border: none;
}

.services__button:hover {
  background-color: var(--special-blue);
  color: var(--basic-white);
}
.services__button:active {
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.services__button_active {
  color: var(--basic-blue);
  background-color: var(--basic-white);
}

.services__button_disabled {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.services__content {
  flex: 1 620px;
  padding-left: 80px;
  position: relative;
}

.services__subheader {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  font-family: 'Cuprum';
  text-transform: uppercase;
  margin: 0;
}

.services__item {
  height: 100%;
}

.services__item>.services__text{
  width: 350px;
  height: 100%;
}

.services__delivery {
  background: url("../img/delivery.png") 100% 0 no-repeat;
}

.services__guarantee {
  background: url("../img/guarantee.png") 100% 0 no-repeat;
}

.services__credit {
  background: url("../img/credit.png") 100% 0 no-repeat;
}

.services_disabled {
  display:none;
}

.services_active {
  display:block;
}

/*About*/
.about {
  display: grid;
  grid-template-columns: 3fr 2fr ;
  gap: 180px;
  padding: 70px;
}

.carrier__item {
  font-family: 'Cuprum';
  font-size: 18px;
  line-height: 24px;
  position: relative;
}

.carrier__item:before {
  content:'';
  display: block;
  position: absolute;
  top: 10px;
  left: -40px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.map {
  margin-bottom: 20px;
}

/*Footer*/
.main-footer {
  color: var(--basic-white);
  font-family: 'Cuprum';
  font-size: 18px;
  line-height: 24px;
}

.footer-wrapper_blue {
  background-color: var(--basic-blue);
}

.main-footer__grid-container {
  display: grid;
  grid-template: 57px 100px / 380px 1fr;
}

.footer-wrapper_darkblue {
  background-color: var(--special-blue);
}

.footer-contact {
  grid-row:2/3;
}

.footer__phone {
  color: var(--basic-white);
}

.footer__nav-item:hover {
  text-decoration: underline;
}

.footer__nav-item:active {
  opacity: 0.5;
}

.main-footer__flex-container {
  display: flex;
  justify-content: space-between;
  font-family: "Cuprum";
  font-weight: 400;
  font-size: 16px;
  line-height: 18x;
}

.copyright {
  width: 240px;
}

.social {
  display: flex;
}

.social__item {
  width: 44px;
  height: 44px;
  background-color: var(--dark-blue);
  border-radius: 50%;
  margin: 2px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.social__item:hover, .social__item:active {
  background-color: var(--basic-red);
}


/*Contact form*/

.contact-form {
  width: 620px;
  height: 430px;
  box-sizing: border-box;
  border-top: 7px solid var(--basic-red);
  box-shadow:0px 4px 20px rgba(0, 0, 0, 0.15);
  padding: 48px 37px 82px;
  color: var(--basic-black);
  font-family: 'Cuprum';
  font-size: 18px;
  line-height: 24px;
  margin: auto;
  position: relative;
  display: none;
}

.form-block_small {
  width: 219px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 20px;
}

.form-block_big {
  width: 460px;
  display: inline-block;
}

.form__field {
  border: 2px solid var(--light-gray-secondary);
}

.form__field[placeholder] {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
}

.form__field_small {
  height: 38px;
  width: 100%;
}

.form__field_big {
  height: 114px;
  width: 460px;
}

.close {
  background: url("../img/icons/icon-close.svg");
  width: 21px;
  height: 21px;
  border: none;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 10px;
}

.send {
  height:100%;
}

/*Catalog*/

.breadcrumbs {
list-style: none;
display: flex;
align-items: flex-start;
}

.breadcrumbs__item {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  margin-right: 20px;
  font-weight: 400;
}

.breadcrumbs__item:before {
  content: url("../img/icons/icon-right-small.svg");
}

.breadcrumbs:before {
  content: url("../img/icons/icon-home.svg");
}

.main-catalog {
  display: grid;
  grid-template: 38px 1fr / 220px 700px;
  gap: 20px;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 20px;
}

.section-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--extra-lightgray);
  
}

.filter__category {
  font-weight: 700;
}

.filter {
  grid-row: 1/3;
}

.sort {
  display: flex;
  background-color: var(--extra-lightgray);
}

.sort__items {
  display: flex;
}

.sort__item {
  border-bottom: 1px dotted var(--basic-red);
  height: 18px;
  margin-right: 70px;
  opacity: 0.3;
}

.sort__item:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
  opacity:1;
}

.sort__item:active {
  color: var(--basic-red);
  border-bottom: none;
  opacity:1;
}

.goods {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  gap: 20px;
  padding: 0;
}

.fieldset {
  border: none;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--light-gray);
}

.fieldset-group:nth-child(3) {
  border-bottom: none;
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
  margin: 0 0 0 20px;
}
.radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
  margin: 0 0 0 20px;
}

.filter__item {
  margin-left: -40px;
}

.checkbox + label:before {
  content: url("../img/icons/checkbox-off.svg");
  margin-right: 10px;
}

.checkbox:checked + label:before {
  content: url("../img/icons/checkbox-on.svg");
  margin-right: 10px;
}

.radio:checked + label:before {
  content: url("../img/icons/radio-on.svg");
  margin-right: 10px;
}
.radio + label:before {
  content: url("../img/icons/radio-off.svg");
  margin-right: 10px;
}

.filter-button {
  width: 100%;
  border: none;
  height: 38px;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  height: 38px;
}

.page {
  width: auto;
  padding: 11px 15px;
  border: 1px solid var(--light-gray-secondary);
  text-align: center;
  margin-right: 10px;
  color: var(--basic-black);
  border-radius: 2px;
}

.page:active {
  border: 1px solid var(--basic-red);
}

.page-active {
  background-color: var(--basic-red);
  color: var(--basic-white);
}


.catalog-descript__title {
  text-transform: uppercase;
  font-family: "Cuprum";
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: 400;
}

.catalog-descript-wrapper {
  background-color: var(--basic-background);
}

.catalog-descript {
  padding: 60px;
}

.catalog-descript__text {
  width: 900px;
}
.footer-link {
  color: var(--special-yellowlight);
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link:active {
  color: var(--basic-red);
}

